@CHARSET "UTF-8";

.body-container
{
	width: auto;
	padding: 0 20px;
}

.panel
{
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.import-options
{
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.import-options .btn-block + .btn-block
{
	margin-top: 7px;
}

table.bld-data
{
	font-size: 12px; 
}

table.bld-data td, table.bld-data th
{
	padding: 5px;
}

table.bld-data th
{
	text-align: center;
	background-color: #EFEFEF;
}

tr.bld-total
{
	font-weight: bold;
}

.bld-container
{
	margin: 15px 70px;
}

.total-bold td
{
	font-weight: bold;
}

#date_from, #date_to
{
	margin: 0;
}

.clr
{
	clear: both;
}

#filter input, #filter .input-append
{
	margin: 0;
}

.exp-fixed
{
	width: 90px;
	margin: 0;
}

.budget-editable
{
	position: relative;
	cursor: pointer;
}

.budget-editable:hover
{
	background-color: #F7F7F7;
}